# eclipse
bin
*.launch
.settings
.metadata
.classpath
.factorypath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
logs
/Library/
